<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
        "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
        "http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>
    <session-factory>

        <!-- 1. Database Connection Details -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <property name="connection.url">jdbc:mysql://localhost:3306/food_order_db</property>
        <property name="connection.username">root</property>
        <property name="connection.password">root12345</property>

        <!-- 2. Hibernate Settings -->
        <property name="dialect">org.hibernate.dialect.MySQL8Dialect</property>
        <property name="hbm2ddl.auto">update</property>
        <property name="hibernate.show_sql">true</property>

        <!-- 3. Map your Java classes -->
        <mapping class="com.foodorder.dao.Restaurant"/>
        <mapping class="com.foodorder.dao.Customer"/>
        <mapping class="com.foodorder.dao.MenuItem"/>
        <mapping class="com.foodorder.dao.Order"/>

    </session-factory>
</hibernate-configuration>